<!-- Header Section Start -->
        <div class="header section">

            <!-- Header Main Start -->
            <div class="header-main">
                <div class="container">

                    <!-- Header Wrapper Start -->
                    <div class="header-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/images/logo.png" alt="Logo"></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Menu Start -->
                        <div class="header-menu d-none d-lg-flex">

                            <ul class="nav-menu">
                            <li><a class="active" href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="https://blog.foodandfertility.com/">Insights</a></li>
                           </ul>
                        
                            <div class="header-btn">
                                <a class="btn btn-secondary btn-hover-primary" href="schedule.html">Book an Appointment</a>
                            </div>

                        </div>
                        <!-- Header Menu End -->

                        <!-- Header Toggle Start -->
                        <div class="header-toggle d-lg-none">

                            <a class="btn btn-secondary btn-hover-primary" href="schedule.html">Book an Appointment</a>

                            <a href="#" class="menu-toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                        <!-- Header Toggle End -->

                    </div>
                    <!-- Header Wrapper End -->

                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header Section End -->


<!-- Mobile Menu Start -->
<div class="mobile-menu">
  <!-- Menu Close Start -->
  <a class="menu-close" href="javascript:void(0)">
    <i class="icofont-close-line"></i>
  </a>
  <!-- Menu Close End -->

  <!-- Mobile Menu Start -->
  <div class="mobile-menu-items">
    <ul class="nav-menu">
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="about.html">About Us</a></li>

      <!-- NEW: Insights link -->
      <li><a href="https://blog.foodandfertility.com/">Insights</a></li>

      <li><a href="schedule.html">Book an Appointment</a></li>
    </ul>
  </div>
  <!-- Mobile Menu End -->
</div>
<!-- Mobile Menu End -->


        <!-- Overlay Start -->
        <div class="overlay"></div>
        <!-- Overlay End -->
